<footer>
    <div class="left">
        <i class="fa-solid fa-dumbbell"></i>
        <span>© 2025 TrainingsTracker</span>
    </div>
    <div class="right">
        <a href="#">Impressum</a>
        <a href="#">Datenschutz</a>
        <a href="#">Kontakt</a>
    </div>
</footer>
<script src="assets/bundle.js" defer></script>