<header>
    <div class="left">
        <h1 class="title">TrainingsTracker</h1>
        <p class="subtitle">Challange</p>
    </div>

    <div class="right">
        <div class="circle">
            <i class="fa-solid fa-bars"></i>

            <div class="click-area"></div>
            <div class="userMenu" id="userMenu">
                <div class="selection" id="logout">
                    <i class="fa-solid fa-right-from-bracket icon"></i>
                    <p class="userMenu">logout</p>
                </div>
                <div class="selection" id="settings">
                    <i class="fa-solid fa-user-gear icon"></i>
                    <p class="userMenu">Einstellungen</p>
                </div>
            </div>
        </div>
    </div>
</header>
