<section class="login background">
    <div class="foreground">
        <h2>Login</h2>
        <form class="login">
            <label for="NameLogin">Dein Nutzername:</label>
            <input type="text" id="NameLogin" placeholder="Nutzername" required>
            <label for="PasswortLogin">Dein Passwort:</label>
            <input type="password" id="PasswortLogin" placeholder="Passwort" required>
            <input type="submit" value="Login">
        </form>
        <p class="errorUserAuth" id="errorLogin">fehler</p>
        <p class="link" id="linkLogin">create account</p>
    </div>
</section>

<section class="register background">
    <div class="foreground">
        <h2>Register</h2>
        <form class="register">
            <label for="VornameRegister">Vorname:</label>
            <input type="text" id="VornameRegister" placeholder="Vorname" required>
            <label for="NachnameRegister">Nachname:</label>
            <input type="text" id="NachnameRegister" placeholder="Nachname" required>
            <label for="UsernameRegister">Username:</label>
            <input type="text" id="UsernameRegister" placeholder="Username" required>
            <label for="EmailRegister">Email:</label>
            <input type="text" id="EmailRegister" placeholder="Email" required>
            <label for="PasswortRegister">Passwort:</label>
            <input type="password" id="PasswortRegister" placeholder="Passwort" required>
            <label for="Passwort2Register">Passwort wiederholen:</label>
            <input type="password" id="Passwort2Register" placeholder="Passwort wiederholen" required>
            <input type="submit" value="Register">
        </form>
        <p class="errorUserAuth" id="errorRegister">fehler</p>
        <p class="link" id="linkRegister">Login</p>
    </div>
</section>
