<%- include('./partials/head.ejs') %>
<body data-page="404">
    <%- include('./partials/header.ejs') %>
    <main>
        
        <h1>Page not found</h1>
        <h2>404</h2>
        <a href="/">Home</a>


    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>