<%- include('./partials/head.ejs') %>

<body data-page="Challenge">
    <link rel="stylesheet" href="/styles/userstats.css">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/userAuth.ejs') %>

    <main>
        <section class="userStats">
            <!-- hier wird autmatisch der content geladen und eingefügt -->
        </section>
    </main>


    <%- include('./partials/footer.ejs') %>
</body>
</html>
